.tab {
  padding-bottom: 4px;
  color: var(--text-color-light);
  transition: all 0.3s;
  border-bottom: 2px solid transparent;

  &:hover {
    color: var(--text-color);
  }

  &_active {
    color: var(--text-color);
    border-color: var(--primary-color);
  }
}
