.theme-light {
  // typography
  --text-color: #353535;
  --text-color-light: #8C8C8C;
  --text-color-extralight: #D2D2D2;
  --text-color-inverse: #F5F5F5;

  // base colors
  --primary-color: #00ACC2;
  --primary-light-color: #00C2DB;
  --secondary-color: #F2F8F9;
}