.theme-light {
  // typography
  --text-color: #353535;
  --text-color-light: #8c8c8c;
  --text-color-extralight: #d2d2d2;
  --text-color-inverse: #f5f5f5;

  // base colors
  --primary-color: #00acc2;
  --primary-light-color: #00c2db;
  --secondary-color: #f2f8f9;
}
